html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
body{
  font-family: 'Special Elite', cursive;
}
.body-applications{
  background: linear-gradient(to bottom, #43C6AC, #F8FFAE);
}
.body-app1{
  background-color: #70B8AD;
}
.body-app2{
  background-color: #AFAAAA;
}
.body-app3{
  background-color: #2a2d32;
}
a{
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
*{
  box-sizing:border-box;
}

/* HEADER */
header{
  background-color: #51B9BD;
  box-shadow: 0 5px 10px #455C66;
}
nav{
  color:white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 0 0 7px #0F2027;
  width: 100%;
  height: auto;
  margin: auto;
  max-width:1800px;
}
.header-applis{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
.header-applis > a{
  height: 100%;
  width: 100%;
  padding: 3%;
  white-space: nowrap;
  transition: background-color 0.2s ease;
  border-radius: 20px;
}
.header-applis > a:hover{
  background-color: rgba(255, 225, 139, 0.5);
}
nav > a{
  transition: text-shadow 0.2s ease;
}
nav > a:hover{
  text-shadow: 5px 5px 10px black;
}
@media (max-width: 799px)
{
  nav{
    flex-direction: column;
    }
  .header-applis{
    width:100%;
  }
  h2{
    border-bottom: 1px solid white;
  }
}

/* MAIN */

.main-app-favorites{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.classement{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60%;
  margin: 0 auto;
  max-width:1800px;
}
.number{
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.number>a>img{
  width: 40%;
  height: auto;
  transition: 0.2s ease;
}
.number>a>img:hover{
  box-shadow: 0 0 50px rgba(255, 225, 139);
  border-radius: 100px;
  width: 45%;
}
.podium{
  margin: 10% 5% 0 5%;
  border-radius: 20% 20% 0% 0%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid white;
  box-shadow: 5px -5px 0 white;
  font-family: 'Spicy Rice', cursive;
  font-size: 400%;
  text-shadow: 0 0 7px #0F2027;
  background-color: #51B9BD;
  color:white;
}
#podium-deux{
  height:50%;
}
#podium-un{
  height:80%;
}
#podium-trois{
  height:30%;
}

/* MAIN HEADER APPLICATIONS */

.main-app{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}
.nav-app1, .nav-app2, .nav-app3{
  width:100%;
  border-top:1px solid white;
  border-bottom:1px solid white;
  box-shadow: 0 0 10px black;
  z-index:3;
}
.nav-app1{
  background-color: #1ebea5;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.nav-app2{
  background: linear-gradient(to left,#009DF2, #37FA5E);
  font-family: 'Exo', sans-serif;
}
.nav-app3{
  background-color: #2a2d32;
  font-family: 'Baloo Da 2', cursive;
}
.main-app-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 15% 0 15%;
  color:white;
  width:100%;
  margin: 0 auto;
  max-width:1800px;
}
.logo, .logo2{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  width:50%;
}
.logo>img, .logo2>img{
  height: auto;
  padding: 1%;
}
.logo>img{
  width:10%;
}
.logo2>img{
  width: 30%;
}
.download{
  height: 100%;
}
#menu-déroulant, #menu-déroulant ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
#menu-déroulant{
  text-align: center;
  height: 100%;
}
#menu-déroulant li{
  display: inline-block;
  height: 100%;
}
#menu-déroulant ul li{
  display: inherit;
  padding: 0 1rem;
  transition: background-color 0.2s;
}
#menu-déroulant a{
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  padding: 10%;
}
#menu-déroulant ul{
  position: absolute;
  visibility: hidden;
  text-align: left;
  z-index: 1000;
  border: 1px solid white;
  padding: 1rem 0;
  box-shadow: 0 0 10px black;
}
#menu-déroulant .ul-app1{
  background-color: #1ebea5;
  border-top: 3px solid #4FCC5D;
}
#menu-déroulant .ul-app2{
  background-color: #009DF2;
  border-top: 3px solid #37FA5E;
}
#menu-déroulant .ul-app3{
  background-color: #2a2d32;
  border-top: 3px solid white;
}
#menu-déroulant li:hover ul{
  visibility: visible;
}
#download{
  transition: text-shadow 0.2s;
}
#menu-déroulant li:hover #download{
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}
#menu-déroulant ul li:hover{
  background-color: rgba(255, 225, 139, 0.5);
  border-radius: 100px;
}

/* MAIN APPLICATIONS */

.application1, .application2, .application3{
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: -2px 0 10px grey;
  z-index:1;
  margin: 0 auto;
  max-width:1600px;
}
.application1{
  font-family: 'Montserrat', sans-serif;
}
.application2{
  font-family: 'Exo', sans-serif;
}
.application3{
  font-family: 'Baloo Da 2', cursive;
}
.application-id{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}
hr{
  border: inherit;
  border-bottom: 2px ridge #51B9BD;
  width: 90%;
}
#mini-logo{
  display:none;
  width: 20%;
  height:auto;
  padding-right: 2%;
}
@media (max-width: 799px)
{
  .application-id{
    flex-direction: column;
    font-size: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .application-id>img{
    display: none;
  }
  .vote, .note{
    font-size: 90%;
  }
  #mini-logo{
    display: block;
  }
  h3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20%;
  }
  .application-descriptif{
    font-size: 90%;
  }
  .carousel-items{
    flex-wrap:wrap-reverse;
  }
  ::-webkit-scrollbar {
      display: none;
  }
}
.main-logo{
  width:10%;
  height: auto;
}
.text{
  padding: 0% 2%;
  white-space: nowrap;
}
.grade{
  border: 1px solid black;
  border-radius: 10%;
  padding: 2%;
}
.grade p{
  margin:0;
  text-align: center;
  white-space: nowrap;
}
.note{
  font-size: 200%;
  font-weight: bold;
  padding-bottom: 5%;
}
.vote{
  font-style: italic;
}
.application-descriptif{
  padding: 1% 2%;
  text-align: justify;
  align-self: center;
}

/* MAIN CAROUSEL */

.application-screenshots{
  padding: 1%;
}
.carousel-items{
  display:flex;
  overflow-x: scroll;
  list-style-type: none;
  padding: 0;
  scroll-snap-type: x mandatory;
  margin:0;
  transform: rotateX(180deg);
}
.carousel-item{
  flex: 1 0 25%;
  margin-right: 1%;
  padding-top: 1%;
  scroll-snap-align:start;
  transform: rotateX(180deg);
}
.carousel-item>img{
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px black;
}
::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 100px;
}

::-webkit-scrollbar {
    height: 2%;
    background-color: grey;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: #51B9BD;
    border-radius: 100px;
    border: 1px solid white;
}

/* FOOTER */

footer{
  border-top: 1px solid white;
  box-shadow: 0 5px 10px black;
  z-index:4;
}
footer img{
  width:15%;
  height:15%;
  margin:5%;
}
.reseaux-app1{
  background-color: #1ebea5;
}
.reseaux-app2{
  background: linear-gradient(to left,#009DF2, #37FA5E);
}
.resaux-app3{
  background-color: #2a2d32;
}
.reseaux{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width:800px;
  margin: 0 auto;
}
.reseaux>a img:hover{
  width:20%;
  height:20%;
  margin: 0;
}

/* OTHER */

h1{
  text-align: center;
  font-weight: inherit;
  font-size: 250%;
  color: white;
  text-shadow: 0 0 7px #0F2027;
}
h2{
  margin:0;
  height: 100%;
  font-weight: inherit;
  font-style: italic;
  font-size: 200%;
  display: inline-block;
  text-align: center;
  padding: 1%;
  white-space: nowrap;
}
h3{
  font-size: 150%;
}
ul{
    list-style-type: none;
}
