html, body{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
body{
  background: linear-gradient(to bottom, #43C6AC, #F8FFAE);
  font-family: 'Special Elite', cursive;
}
a{
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
*{
  box-sizing:border-box;
}

/* HEADER */

nav{
  background-color: #51B9BD;
  box-shadow: 0 5px 10px #455C66;
  color:white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 0 0 7px #0F2027;
  width: 100%;
  height: auto;
}
.header-applis{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}
.header-applis > a{
  height: 100%;
  width: 100%;
  padding: 3%;
  white-space: nowrap;
  transition: background-color 0.2s ease;
  border-radius: 20px;
}
.header-applis > a:hover{
  background-color: rgba(255, 225, 139, 0.5);
}
nav > a{
  transition: text-shadow 0.2s ease;
}
nav > a:hover{
  text-shadow: 5px 5px 10px black;
}
@media (max-width: 799px)
{
  nav{
    flex-direction: column;
    }
  .header-applis{
    width:100%;
  }
  h2{
    border-bottom: 1px solid white;
  }
}

/* MAIN */

.main-app-favorites{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.classement{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60%;
  margin: 1% 0 2% 0;
}
.number{
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.number>a>img{
  width: 40%;
  height: auto;
  transition: 0.2s ease;
}
.number>a>img:hover{
  box-shadow: 0 0 50px rgba(255, 225, 139);
  border-radius: 100px;
  width: 45%;
}
.podium{
  margin: 10% 5% 0 5%;
  border-radius: 20% 20% 0% 0%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid white;
  box-shadow: 5px -5px 0 white;
  font-family: 'Spicy Rice', cursive;
  font-size: 400%;
  text-shadow: 0 0 7px #0F2027;
  background-color: #51B9BD;
  color:white;
}
#podium-deux{
  height:50%;
}
#podium-un{
  height:80%;
}
#podium-trois{
  height:30%;
}

/* MAIN HEADER APPLICATIONS */

.main-app{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main-app1-header, .main-app2-header, .main-app3-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 15% 0 15%;
  color:white;
  border-top:1px solid white;
  border-bottom:1px solid white;
  width:100%;
}
.main-app1-header{
  background-color: #1ebea5;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.main-app2-header{
  background: linear-gradient(to left,#009DF2, #37FA5E);
  font-family: 'Exo', sans-serif;
}
.main-app3-header{
  background-color: #2a2d32;
  font-family: 'Baloo Da 2', cursive;
}
.logo, .logo2{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  width:50%;
}
.logo>img, .logo2>img{
  height: auto;
  padding: 1%;
}
.logo>img{
  width:10%;
}
.logo2>img{
  width: 30%;
}
.download{
  height: 100%;
}
#menu-déroulant, #menu-déroulant ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
#menu-déroulant{
  text-align: center;
  height: 100%;
}
#menu-déroulant li{
  display: inline-block;
  height: 100%;
}
#menu-déroulant ul li{
  display: inherit;
  padding: 0 1rem;
}
#menu-déroulant a{
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  padding: 10%;
}
#menu-déroulant ul{
  position: absolute;
  visibility: hidden;
  text-align: left;
  z-index: 1000;
  border: 1px solid white;
  padding: 1rem 0;
}
#menu-déroulant .ul-app1{
  background-color: #1ebea5;
  border-top: 3px solid #4FCC5D;
}
#menu-déroulant .ul-app2{
  background-color: #009DF2;
  border-top: 3px solid #37FA5E;
}
#menu-déroulant .ul-app3{
  background-color: #2a2d32;
  border-top: 3px solid white;
}
#menu-déroulant li:hover ul{
  visibility: visible;
}

/* MAIN APPLICATIONS */



/* OTHER */

h1{
  text-align: center;
  font-weight: inherit;
  font-size: 250%;
  color: white;
  text-shadow: 0 0 7px #0F2027;
}
h2{
  margin:0;
  height: 100%;
  font-weight: inherit;
  font-style: italic;
  font-size: 200%;
  display: inline-block;
  text-align: center;
  padding: 1%;
  white-space: nowrap;
}
ul{
    list-style-type: none;
}
